// COLORS

$Danger: #ff2828;
$Light: #f5f5f5;
$Dark: #373737;
$Highlight: #ffa154;

// FOOTER - WRAPPER

.footer {
  background-color: black;
  padding: 10px;
}

.footer * {
  color: $Light;
}

.wrapper {
  height: 100%;
  margin-bottom: -40px;
}

.wrapper:after {
  content: '';
  display: block;
}

.footer, .wrapper:after {
  height: 40px;
}

// CUSTOM

* {
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: $Light;
  color: $Dark;
}

.projects, .blogs, .blog, .about, .showpost {
  @media (max-width: 549px) {
    padding: 0 10px;
  }
}

.light-a:hover {
  color: $Highlight;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.fa {
  font-size: 1.5em;
}

.mar-pad-no {
  margin: 0;
  padding: 0;
}

.mar-bot-no {
  margin-bottom: 0;
}

.mar-bot-sm {
  margin-bottom: 10px;
}

.mar-top-md {
  margin-top: 40px;
}

.mar-left-sm {
  margin-left: 10px;
}

.pad-left-sm {
  padding-left: 10px;
  @media (max-width: 549px) {
    padding-left: 0;
  }
}

.pad-top-sm {
  padding-top: 10px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  overflow: auto;
}

.text-left {
  text-align: left;
}

// FLASH

.flash {
  width: 100%;
}

// LINKS

a {
  color: $Dark;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $Highlight;
}

.danger {
  color: $Danger;
  font-weight: bold;
  cursor: pointer;
}

.danger:hover {
  color: lighten($Danger, 10%);
}

// IMPUT/BUTTON

input[type='text'], input[type='email'], input[type='password'], textarea {
  width: 100%;
}

.new-post-form textarea {
  resize: none;
  height: 400px;
}

// NAV

.navbar {
  background-color: black;
  height: 40px;
  @media (max-width: 400px) {
    height: 80px;
    text-align: center;
  }
}

.nav-title {
  color: $Light;
  font-weight: normal;
  padding-left: 5px;
  font-size: 1.5em;
}

.navbar a {
  color: $Light;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 30px;
}

.navbar-image {
  background-image: url(asset_path('gsw'));
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
  @media (max-width: 400px) {
    margin: 0;
  }
}

.navbar .nav-links {
  padding-top: 7px;
  float: right;
  @media (max-width: 400px) {
    width: 100%;
    text-align: center;
  }
}

.navbar .nav-links li {
  font-weight: normal;
}

.navbar a:hover {
  color: lighten($Highlight, 20%);
}


.nav-title:hover {
  color: lighten($Light, 100%);
}

.nav-links {
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

// HOME

.home {
  height: 100%;
  min-height: 700px;
  text-align: center;
  color: $Light;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-image: linear-gradient(rgba(32, 32, 32, .6),rgba(152, 69, 1, 0.4));
  @media (min-width: 549px) {
    min-height: calc(100vh - 80px);
  }
}

.garrettstott {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background-image: url(asset_path('garrettstott'));
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 400px) {
    height: 250px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.home-title, .home-subtitle, .contact-email {
  @media (max-width: 400px) {
    margin-bottom: 10px;
  }
}

.contact-icons {

}

.contact-icons a {
  color: $Light;
  padding-right: 10px;
  font-size: 2em;
}

.contact-icons a:hover {
  color: lighten($Highlight, 20%);
}

// POST

.blogs {
  min-height: 600px;
  height: 100%;
  margin-bottom: 20px;
  @media (min-width: 549px) {
    min-height: calc(100vh - 255px);
  }
}

.showpost {
  height: 100%;
  margin-bottom: 20px;
  @media (min-width: 400px) {
    min-height: calc(100vh - 255px);
  }
}

.banner {
  width: 100%;
  height: 180px;
  background-color: black;
  background-image: url(asset_path('banner-image'));
  margin-bottom: 15px;
  @media (max-width: 400px) {
    height: 160px;
  }
}

.post-info * {
  display: inline-block;
}

.post-date {
  display: block;
  margin-top: -20px;
  margin-left: 41px;
}

.post img {
  display: block;
  margin: 0 auto;
  height: 100px;
}

.showpost img {
  height: 50%;
  width: 50%;
}

.post-image {
  clear: both;
  float: left;
  background-image: url(asset_path('gs'));
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 7px;
}

.post {
  position: relative;
  background-color: white;
  border: 1px solid darken($Light, 10%);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 100%;
}

// ABOUT

.about {
  background-color: $Light;
}


// PROJECTS

.projects {
  @media (min-width: 549px) {
    min-height: calc(100vh - 80px);
  }
}

.project {
    text-align: center;
    border: 1px solid darken($Light, 20%);
    margin-bottom: 20px;
    background-color: $Light;
}

.project:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.project i {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 2em;
}

.belcher {
  background-image: url(asset_path('belcher'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avblog {
  background-image: url(asset_path('avblog'));// HEIGHT FIX
  background-size: contain;
  background-repeat: no-repeat;
}

.avrecipes {
  background-image: url(asset_path('avrecipes'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avstocks {
  background-image: url(asset_path('avstock'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avphotoapp {
  background-image: url(asset_path('avphotoapp'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avsaas {
  background-image: url(asset_path('avsaas'));
  background-size: contain;
  background-repeat: no-repeat;
}

// ADMIN

.admin-posts, .new-post, .editpost {
  @media (min-width: 549px) {
    min-height: calc(100vh - 184px);
  }
}

// 404

.frown {
  margin: 0 auto;
  margin-top: 40px;
  width: 310px;
  height: 425px;
  background-image: url(asset_path('frown'));
  background-size: contain;
  background-repeat: no-repeat;
}
