// COLORS

$Danger: #ff2828;
$Light: #f5f5f5;
$Dark: #373737;
$Highlight: #48B2E9;


// CUSTOM

body, html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: $Light;
  color: $Dark;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.fa {
  font-size: 1.5em;
}

.mar-bot-no {
  margin-bottom: 0;
}

.mar-bot-sm {
  margin-bottom: 10px;
}

.pad-left-sm {
  padding-left: 10px;
}

.pad-top-sm {
  padding-top: 10px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  overflow: auto;
}

.text-left {
  text-align: left;
}

// FLASH

.flash {
  width: 100%;
}

// LINKS

a {
  color: $Dark;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $Highlight;
}

.danger {
  color: $Danger;
  font-weight: bold;
  cursor: pointer;
}

.danger:hover {
  color: lighten($Danger, 10%);
}

// IMPUT/BUTTON

input[type='text'], input[type='email'], input[type='password'], textarea {
  width: 100%;
}

.new-post-form textarea {
  resize: none;
  height: 400px;
}

// NAV

.navbar {
  background-color: black;
  height: 40px;
  @media (max-width: 400px) {
    height: 80px;
    text-align: center;
  }
}

.nav-title {
  color: $Light;
  font-weight: normal;
  padding-left: 5px;
  font-size: 1.5em;
}

.navbar a {
  color: $Light;
}

.navbar .nav-links {
  padding-top: 7px;
  float: right;
  @media (max-width: 400px) {
    width: 100%;
    text-align: center;
  }
}

.navbar .nav-links li {
  font-weight: normal;
}

.navbar a:hover {
  color: lighten($Highlight, 20%);
}


.nav-title:hover {
  color: lighten($Light, 100%);
}

.nav-links {
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

// HOME

.home {
  text-align: center;
  height: calc(100vh - 40px);
  color: $Light;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)), url(asset_path('pexels'));
  @media (max-width: 400px) {
    height: calc(100vh - 80px);
  }
}

.garrettstott {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background-image: url(asset_path('garrettstott'));
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 400px) {
    margin-top: 30px;
  }
}

.contact-icons a {
  color: $Light;
  padding-right: 10px;
  font-size: 2em;
}

.contact-email {
  @media (max-width: 400px) {
    margin: 0;
    padding: 0;
  }
}

.contact-icons a:hover {
  color: lighten($Highlight, 20%);
}

// POST

.banner {
  width: 100%;
  height: 180px;
  background-color: black;
  background-image: url(asset_path('banner-image'));
  margin-bottom: 15px;
}

.post-info * {
  display: inline-block;
}

.post-date {
  display: block;
  margin-top: -20px;
  margin-left: 41px;
}

.post-title {

}

.post-image {
  clear: both;
  float: left;
  background-image: url(asset_path('gs'));
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 7px;
}

.post {
  background-color: white;
  border: 1px solid darken($Light, 10%);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 100%;
}

// ABOUT


// PROJECTS

.project {
    text-align: center;
    border: 1px solid darken($Light, 20%);
    margin-bottom: 20px;
}

.project:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.project i {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 2em;
}

.belcher {
  background-image: url(asset_path('belcher'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avblog {
  background-image: url(asset_path('avblog'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avrecipes {
  background-image: url(asset_path('avrecipes'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avstocks {
  background-image: url(asset_path('avstock'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avphotoapp {
  background-image: url(asset_path('avphotoapp'));
  background-size: contain;
  background-repeat: no-repeat;
}

.avsaas {
  background-image: url(asset_path('avsaas'));
  background-size: contain;
  background-repeat: no-repeat;
}
