<!DOCTYPE html>
<html>
  <head>
    <title>Garrett Stott</title>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= yield %>
  </body>

  <%= stylesheet_link_tag 'application', media: 'all', async: Rails.env.production? %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width">
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
    <script type="text/javascript" async>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-90322603-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</html>
